{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href='{% static "bootstrap/dist/css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    {% block categories %}
                    {%  endblock %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        {% block content %}
        {% endblock %}

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src='{% static "jquery/dist/jquery.js" %}'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src='{% static "bootstrap/dist/js/bootstrap.min.js" %}'></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#load").on("click", function() {
                var max_id = $(".post").last().data("pk");
                params = {'max_id':max_id};
                $.get("{% url 'question:list' %}", params, function(data) {
                    var posts = data;
                    var rendered_html = "";
                    $( posts ).each(function( index, post ) {
                        var html = $("<div />", {
                            "class" : "panel",
                            "text" : post.title
                        });
                        rendered_html = rendered_html + html.text();
                        console.log(html)
                    });
                    $("#load").html(rendered_html);
                });
            });
        });
    </script>

</body>

</html>
