{% extends "base.html" %}
{% block categories %}
{% for cat in categories %}
<li>
        <a href="{% url "question:category_list" cat.slug %}">{{ cat.title }}</a>
</li>
{% endfor %}                  
{% endblock %}
{% block content %}
<div class="row">
        {% for question in object_list %}
            <div class="post panel panel-default" data-pk={{ question.pk }}>
                <h3> <a href="{% url "question:detail" question.slug %}"> {{ question.title }} </a> </h3>
                <p> {{ question.description }} </p>
                <p> Asked by {{ question.author }} </p>
                {% for tag in question.tags.all %}
                        {{ tag }}
                {% endfor %}
           </div>
        {% endfor %}
        <div>
                <button class="btn btn-primary" id="load"> Load More </button>
        </div>
</div>
{% endblock %}