{% extends "base.html" %}
{% block content %}
<h1> Question hun m {{ object }}</h1>
{% for ans in object.answer_set.all %}
<div class="row">
<h3> {{ ans }} </h3>
</br>
</div>
{% endfor %}
{% endblock %}
